body {
    background:linear-gradient(rgba(0,0,50,0.2),rgba(0,0,50,0.1)),url(image.jpg);
    background-size: cover;
    background-position: center;
	overflow:40px;
}

.login-box {
    max-width: 700px;
    float: none;
    margin: 60px auto;

}

.login-left {
    background-color: rgba(211,211,211,0.5);
    padding:30px;
}

.login-right {
    background: #fff;
    padding:30px;
}

.form-control {
    background-color: transparent !important;
}

#logout {
    color:white;
    margin-top:30px;
    padding-top: 5px;
}

.headerr h1 {
    color: #fff;
    margin: 50px auto;
}

p {
    color:black;
}

.weather-widget {
    width: 350px;
    text-align: center;
    margin:0 auto;
}

.sumLogo {
    width: 80px;
    margin-top:10px;
}

.main-content {
    padding-top:30px;
    background-image: url("./image.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sidenav {
  height: 100%;
  width:0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  text-align:center;
  background-color:#6e6e6e;
 

}

.sidenav a {
	position:fixed;
	text-decoration:none;
}

.sidenav a:hover{
}

.sidenav .closebtn {
  position: absolute;
  right: 30;
  top:-5;
  font-size: 36px;
  color: white;
  z-index:1;
}
.iframe {
	border:0px;
	background-color:#6e6e6e;
	position:absolute;
}
.parkinglogo {
	z-index:1;
	width:70px;
	height:70px;
	
	
}

@-ms-viewport{
  width: device-width;
}
